@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  font-size: 32px; /* 원하는 글씨 크기로 조정 */
}
body {
  color: #c10002;
}

.title {
  font-size: 72px;
  color: black;
}
.description {
  font-size: 36px;
}

.items {
  color: gray;
  font-size: 1rem;
}

.btn {
  font-size: 0.4em;
  padding: 5px 10px;
  color: white;
  background-color: #c10002;
}
