.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}
